body{
	text-align: center;
	margin: 0 auto;
	width: 512px;
}

canvas {
	text-align: center;
}

div {
	border: 2px solid #000000;
/*	margin-bottom: 10px;
	margin-top: 10px;*/
}

p.time {

	text-align: center;
	width: 200px;
	border: 2px solid #000000;
/*	padding: 15px;*/
	float: left;

}

p.caught {
	text-align: center;
	width: 200px;
	border: 2px solid #000000;
/*	padding: 15px;*/
	float: right;
}